html {
    background: lightblue;
}

#header {
    border: 1px solid black;
}

#main {
    border: 1px solid black;
    height: 90vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#today-weather {
    border: 1px solid black;

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
}

.today-heading {
    border: 1px solid black;

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.today-main-info {
    border: 1px solid black;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
}

.today-icon-info {
    border: 1px solid black;
}

.today-condition-info {
    border: 1px solid black;
}

.today-other-info {
    border: 1px solid black;

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.today-other-info div {
    border: 1px solid black;
}

#tomorrow-weather {
    border: 1px solid black;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#next-weather {
    border: 1px solid black;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
